@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 0px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(109, 223, 185);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
    ;
}

.play {
    font-family: 'Playfair Display', sans-serif;
}

/*estilos para imagenes de fondo*/
.bnrep {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada {
    position: relative;
    background-image: url(../img/restaurante.jpg);
    background-color: rgb(110, 103, 102);
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 250px rgb(0, 0, 0);
    height: 250px;
}

.portada .texto {
    position: absolute;
    bottom: 70px;
}

.busqueda {
    position: absolute;
    bottom: -20px;
    background-color: rgb(82, 83, 69);
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.busqueda .icono {
    background-color: rgb(68, 100, 81);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
}

.icono.material-icons-outlined {
    font-size: 24pt;

}

.busqueda input[type="search"] {
    height: 100%;
    width: calc(100% - 120px);
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 12pt;
}

.busqueda input[type="submit"] {
    height: 60px;
    width: 60px;

}

.busqueda input[type="search"]:focus {
    font-size: 14pt;
}

.busqueda input[type="submit"]:active {
    font-size: 14pt;
}

.menu {
    margin-top: 20px;
    background-color: rgb(132, 165, 165);
    padding: 20px;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.menu ul li {
    height: 90px;
    flex: 0 0 100px;
    text-align: center;
    list-style: none;

}

.menu a {
    color: black;
    text-decoration: none;
}

.productos {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}


.restos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(115, 130, 138);
    align-items: center;
    padding: 10px 50px;

}

.card{
    display: flex;
    flex: 1 0 160px;
    width: 90%;
    height: 160px;
    background-color: dimgrey;
    box-shadow: 0 0 15px 2 rgba(0, 0, 0, 0.432);
    border-radius: 10px 0 0 10px;
}

.card .img{
    flex: 0 0 40%;
    height: 160px;
    background-color: lightslategray;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.img img{
    height: 100%;
    object-fit: cover;
}
.card .datosresto{
    position: relative;
    padding: 12px;
    padding-top: 50px;
    flex: 0 0 60%;
    background-color: rgb(132, 165, 165);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valores{
    display: flex;
    justify-content: space-between;
}

.f12{
    font-size: 12pt!important;
}
.puntuacion{
    position: absolute;
    top: -5px;
    right: -5px;
    height: 40px;
    width: 40px;
    background-color: rgb(122, 116, 116);
    text-align: center;
    line-height: 40px;

}