@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;


}

.montserrat{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.buscar{
    display: flex;
    width: 90%;
    padding: 10px;
}

.caja1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 110px;
}

.caja_logo .img {
    background-color: rgb(255, 249, 249);
    height: auto;
    flex: 1 0 90px;
    width: 80px;
    border-radius: 50%;
}

.iconos {
    color: rgb(140, 140, 187);
}

.icons {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 500px;
    justify-content: space-around;
}

.cont_pastilla{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
}

.pastilla{
    border: 1px rgb(113, 116, 151) solid;
    color: rgb(85, 109, 127);
    background-color: rgb(255, 254, 254);
    width: 20%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 0px;
    font-size: 8pt;
}

.pastilla:hover{
    color: rgb(193, 193, 193);
    background-color: rgb(205, 205, 205);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.225); /* x y blur (difuminador), separacion de sombra y elemnt,o color. inset sombra dentro del elemnto */
}
.recomendados{
    width: 100%;
    padding: 20px;
    height: 300px;
    background-color: rgb(211, 218, 240);
}

.caja_titulo{
    width: 450px;
    height: 30px;
    background-color: rgb(211, 218, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.publicacion{
    background-color: blueviolet;
    width: 30%;
    height: 250px;
    border-radius: 10%;
}

.img{
    /* background-color: coral; */
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.hora{
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    height: 27px;
}

.tamañohora{
    font-size: 130%;
    font-weight: bold;
}

.icons {
    position: fixed;
    bottom: 0;    
}

.tarjetas{
    
}